site: Sidey
url: "https://SEORY0.github.io"
title: "SEORY0"
description: ""
twitter:
  username: #yourusername
  card: summary
  creator: #yourusername
author:
  twitter: #yourusername
  name: "SEORY0"
  avatar:
  email: seory0@outlook.kr
  url: #yoururl
permalink: pretty

baseurl: ""

markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    # line_numbers: true  <-- 이 옵션은 끄거나 주석 처리하세요! (CSS로 구현했습니다)
    # block:
    #   line_numbers: true
    span:
      line_numbers: false

exclude:
  - .jekyll-cache
  
compress_html:
  clippings: all
  comments: ["<!-- ", " -->"]

sass:
  sass_dir:          _sass
  style:            :compressed

plugins:
  - jekyll-paginate
  - jekyll-seo-tag
  - jekyll-sitemap  

collections:
  pages:
    output: true
    permalink: /:name
  posts:
    output: true
    permalink: /:year/:month/:day/:slug
  books:
    output: true
    permalink: /books/:slug/
  photos:
    output: true
    permalink: /photos/:slug/
  
defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"