---
layout: compress
---

<!DOCTYPE html>
<html lang="en" class="client-js vector-feature-language-in-header-enabled skin-vector-2022">
{% include head.html %}
<body class="skin-vector skin-vector-search-vue mediawiki ltr sitedir-ltr mw-hide-empty-elt ns-4 ns-subject page-User_SEORY0 rootpage-User_SEORY0 skin-vector-2022 action-view">

{% include header.html %}

<div class="mw-page-container">
  <div class="mw-page-container-inner">

    <div class="vector-column-start">
      <div class="vector-main-menu-container">
        <div id="mw-navigation">
          <nav id="mw-panel" class="vector-main-menu-landmark" aria-label="Site">
            <div class="vector-menu mw-portlet" id="p-navigation">
                <div class="vector-menu-heading">Navigation</div>
                <div class="vector-menu-content">
                    <ul class="vector-menu-content-list">
                        <li class="mw-list-item"><a href="{{ '/' | relative_url }}"><span>Main page</span></a></li>
                        <li class="mw-list-item selected"><a href="{{ '/about/' | relative_url }}"><span>About Me</span></a></li>
                        <li class="mw-list-item"><a href="{{ '/projects/' | relative_url }}"><span>Projects</span></a></li>
                        <li class="mw-list-item"><a href="{{ '/writing/' | relative_url }}"><span>Writings</span></a></li>
                        <li class="mw-list-item"><a href="{{ '/books/' | relative_url }}"><span>Books</span></a></li>
                        <li class="mw-list-item"><a href="{{ '/photos/' | relative_url }}"><span>Photos</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="vector-menu mw-portlet" id="p-interaction">
                <div class="vector-menu-heading">Connect</div>
                <div class="vector-menu-content">
                    <ul class="vector-menu-content-list">
                        <li class="mw-list-item"><a href="https://github.com/SEORY0" target="_blank"><span>GitHub</span></a></li>
                        <li class="mw-list-item"><a href="mailto:seory0@outlook.kr"><span>Email</span></a></li>
                    </ul>
                </div>
            </div>
          </nav>
        </div>
      </div>
    </div>

    <div class="mw-content-container">
      <main id="content" class="mw-body" role="main">
        
        <div class="vector-page-toolbar">
          <div class="vector-page-toolbar-container">
            <div id="left-navigation">
              <nav aria-label="Namespaces">
                <div class="vector-menu vector-menu-tabs mw-portlet">
                  <div class="vector-menu-content">
                    <ul class="vector-menu-content-list">
                      <li class="selected vector-tab-noicon mw-list-item"><a href="#"><span>User page</span></a></li>
                      <li class="vector-tab-noicon mw-list-item"><a href="#"><span>Discussion</span></a></li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
            <div id="right-navigation">
              <nav aria-label="Views">
                <div class="vector-menu vector-menu-tabs mw-portlet">
                  <div class="vector-menu-content">
                    <ul class="vector-menu-content-list">
                      <li class="selected vector-tab-noicon mw-list-item"><a href="#"><span>Read</span></a></li>
                      <li class="vector-tab-noicon mw-list-item"><a href="#"><span>View source</span></a></li>
                      <li class="vector-tab-noicon mw-list-item"><a href="#"><span>History</span></a></li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>

        <header class="mw-body-header">
          <h1 id="firstHeading" class="firstHeading mw-first-heading">User:SEORY0</h1>
        </header>

        <div id="bodyContent" class="vector-body">
          <div id="siteSub" class="noprint">I really want to stay at your house - Rosa Walton, Hallie Coggins</div>
          <div id="contentSub"></div>
          
          <div id="mw-content-text" class="mw-body-content">
            <div class="mw-parser-output">
                
                <table class="infobox vcard">
                    <tbody>
                        <tr>
                            <th colspan="2" class="infobox-header">SeokJun Ryu</th>
                        </tr>
                        <tr>
                            <td colspan="2" class="infobox-image">
                                <a href="#" class="image">
                                    <img src="{{ '/assets/images/profile.jpg' | relative_url }}" alt="Profile Photo" width="220">
                                </a>
                                <!--<div class="infobox-caption">Vulnerability Researcher</div>-->
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Native name</th>
                            <td><span class="nickname">류석준</span></td>
                        </tr>
                        <tr>
                            <th scope="row">Born</th>
                            <td>Seoul, South Korea</td>
                        </tr>
                        <tr>
                            <th scope="row">Education</th>
                            <td>Soongsil University<br>(IT Convergence, EE)</td>
                        </tr>
                        <tr>
                            <th scope="row">Occupation</th>
                            <td class="role">Security Researcher<br>Student</td>
                        </tr>
                        <tr>
                            <th scope="row">Known for</th>
                            <td>Windows Kernel Exploitation<br>Reverse Engineering<br>AI for Security</td>
                        </tr>
                        <tr>
                            <th scope="row">Website</th>
                            <td><a href="https://github.com/SEORY0" target="_blank">github.com/SEORY0</a></td>
                        </tr>
                    </tbody>
                </table>

                <p>
                    <b>I</b> am a student at Soongsil University and security researcher. 
                    He is currently studying at <b>Soongsil University</b> and is a member of the <a href="https://whitehatschool.kr/">WhiteHat School</a> 3rd cohort.
                </p>
                <p>
                    My primary research focus includes <b>Windows Kernel Exploitation</b> and advanced <b>Reverse Engineering</b> techniques.
                    I aim to understand the root causes of vulnerabilities beyond a exploitation.
                </p>

                <div id="toc" class="toc" role="navigation" aria-labelledby="mw-toc-heading">
                    <input type="checkbox" role="button" id="toctogglecheckbox" class="toctogglecheckbox" style="display:none">
                    <div class="toctitle" lang="en" dir="ltr">
                        <h2 id="mw-toc-heading">Contents</h2>
                    </div>
                    <ul>
                        <li class="toclevel-1 tocsection-1"><a href="#Biography"><span class="tocnumber">1</span> <span class="toctext">Biography</span></a></li>
                        <li class="toclevel-1 tocsection-2"><a href="#Education"><span class="tocnumber">2</span> <span class="toctext">Education</span></a></li>
                        <li class="toclevel-1 tocsection-3"><a href="#Skills"><span class="tocnumber">3</span> <span class="toctext">Skills</span></a></li>
                        <li class="toclevel-1 tocsection-4"><a href="#Research_Interests"><span class="tocnumber">4</span> <span class="toctext">Research Interests</span></a></li>
                        <li class="toclevel-1 tocsection-5"><a href="#Interests"><span class="tocnumber">5</span> <span class="toctext">Interests</span></a></li>
                    </ul>
                </div>

                <h2 id="Biography">Biography</h2>
                <div class="mw-heading-line"></div>
                <p>
                    Started studying computer science with a passion for low-level system architecture. 
                    Currently active as a team member in various CTF competitions and conducting in-depth vulnerability analysis projects.
                </p>

                <h2 id="Education">Education</h2>
                <div class="mw-heading-line"></div>
                <ul>
                    <li><b>Soongsil University</b> - IT Convergence Electronic Engineering (Current)</li>
                    <li><b>WhiteHat School 3rd</b> - KITRI Certificated</li>
                    <li><b>Hacking Camp 27th</b> - POC Security Ceritificated</li>
                </ul>

                <h2 id="Education">Experiences</h2>
                <div class="mw-heading-line"></div>
                <ul>
                    <li><b>Soongsil University AI Safety Center</b> - Undergrad. Research Intern (Current)</li>
                    <div id="siteSub" class="noprint">AI for Security</div>

                </ul>

                <h2 id="Skills">Skills</h2>
                <div class="mw-heading-line"></div>
                <table class="wikitable">
                    <tbody>
                        <tr>
                            <th>Languages</th>
                            <td>C, C++, Python, Assembly (x86/x64)</td>
                        </tr>
                        <tr>
                            <th>Tools</th>
                            <td>WinDbg, IDA Pro, GDB</td>
                        </tr>
                        <tr>
                            <th>Platforms</th>
                            <td>Windows, Linux</td>
                        </tr>
                    </tbody>
                </table>

                <h2 id="Research_Interests">Research Interests</h2>
                <div class="mw-heading-line"></div>
                <ul>
                    <li><b>Kernel Exploitation:</b> Focusing on Windows drviers and modern mitigation bypass techniques.</li>
                    <li><b>Root Cause Analysis:</b> Deep diving into CVEs to understand the underlying logic errors.</li>
                    <li><b>AI for Security:</b> Developing tools for fuzzing and crash analysis base on AI.</li>
                </ul>
                <!--
                <h2 id="Interests">Interests</h2>
                <div class="mw-heading-line"></div>
                <ul>
                    <li>해킹 (리버싱)</li>
                    <li>문학 독서</li>
                    <li>시네마 </li>
                    <li>컴퓨터 조립, 수리</li>
                    <li>여행 (국내, 해외)</li>
                    <li>디자인 (포스터, UI/UX)</li>
                    <li>재테크, 주식 투자</li>
                    <li>사진 촬영</li>
                    <li>카페 탐방 (아아 평론)</li>
                    <li>음악 감상 (록, k, jpop, pop, 힙합, 발라드, edm, lofi...etc.)</li>
                </ul>
                -->
            </div>
          </div>
        </div>
      </main>
    </div>

    <div class="vector-column-end">
      <div class="vector-sticky-pinned-container">
        <nav class="vector-appearance-landmark" aria-label="Appearance">
            <div id="vector-appearance" class="vector-appearance">
                <div class="vector-pinnable-header">
                    <div class="vector-pinnable-header-label">Appearance</div>
                </div>
                <div class="vector-menu-content">
                    <div class="theme-toggle-wrapper">
                        <label class="toggle-switch">
                            <input type="checkbox" id="theme-toggle-checkbox">
                            <span class="slider"></span>
                        </label>
                        <span id="theme-status-text">Light</span>
                    </div>
                </div>
            </div>
        </nav>
      </div>
    </div>

  </div>
</div>

<footer id="footer" class="mw-footer">
  <ul id="footer-info">
      <li id="footer-info-lastmod"> This page was last edited on {{ site.time | date: "%d %B %Y, at %H:%M" }}.</li>
      <li id="footer-info-copyright">Content is available under <a href="#">Hacker License 1.0</a>.</li>
    </ul>
</footer>
<script src="{{ '/assets/js/search.js' | relative_url }}"></script>

{% include scripts.html %}

</body>
</html>