<footer class="foot">
  <div class="wrap">
<pre class="mark" aria-hidden="true">    __ __ __________  _   __________       ____  ___    _   __________
   / //_// ____/ __ \/ | / / ____/ /      / __ \/   |  / | / / / ____/
  / ,<  / __/ / /_/ /  |/ / __/ / /      / /_/ / /| | /  |/ / / /
 / /| |/ /___/ _, _/ /|  / /___/ /___   / ____/ ___ |/ /|  /_/ /___
/_/ |_/_____/_/ |_/_/ |_/_____/_____/  /_/   /_/  |_/_/ |_(_)\____/   </pre>
    <p>
      <span>&copy; {{ site.time | date: "%Y" }} SEORY0</span>
      <span><a href="https://github.com/SEORY0/SEORY0.github.io" target="_blank" rel="noopener">source</a> &middot;
        <a href="{{ '/atom.xml' | relative_url }}">atom</a> &middot;
        <a href="{{ '/sitemap.xml' | relative_url }}">sitemap</a></span>
    </p>
  </div>
</footer>
