<div class="site-header-wrap">
  <header class="site-header">
    <div class="header-left">
        <a href="{{ '/' | relative_url }}" class="site-logo">
            <span class="logo-text">
                <strong class="logo-name">SEORY0</strong>
                <span class="logo-tagline">Seokjun RYU</span>
            </span>
        </a>
    </div>

    <div class="header-right">
        {% include search-bar.html %}
    </div>
    <button id="mobile-menu-btn" class="mobile-menu-btn" aria-label="Open Navigation">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>

    <div id="mobile-overlay" class="mobile-overlay"></div>
  </header>
</div>
