---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

{% include sidebar-navigation.html %}

<div class="site-container">

  <div class="ef-page-banner">
    <div class="ef-page-banner-top">
      <div class="ef-page-banner-inner">
        <span class="ef-section-badge">&#9661; SEORY0</span>
        <span class="ef-page-banner-sub">{{ page.categories | join: ' / ' }}</span>
      </div>
    </div>
    <div class="ef-page-banner-stripe">
      <h1 class="ef-page-banner-title">{{ page.page_title | default: page.title }}</h1>
    </div>
  </div>

  <div class="site-grid">
    <div class="content-col">
      <main class="main-content" role="main">
        <div class="page-body">
          <div id="siteSub">I really want to stay at your house - Rosa Walton, Hallie Coggins</div>

          <div class="page-content">

                <table class="infobox" style="width: 22em;">
                    <tbody>
                        <tr>
                            <th colspan="2" class="infobox-header">Meta Information</th>
                        </tr>
                        <tr>
                            <th scope="row">Date</th>
                            <td>{{ page.date | date: "%Y-%m-%d" }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Author</th>
                            <td>User:SEORY0</td>
                        </tr>
                        <tr>
                            <th scope="row">Category</th>
                            <td>{{ page.categories | join: ', ' }}</td>
                        </tr>
                        {% if page.tags %}
                        <tr>
                            <th scope="row">Tags</th>
                            <td>
                                {% for tag in page.tags %}
                                <span class="tag-label">{{ tag }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>

                <div class="post-content">
                    {{ content }}
                </div>

                <div id="catlinks">
                    <div class="mw-normal-catlinks">
                        <a href="#">Categories</a>:
                        <ul>
                            {% for cat in page.categories %}
                            <li><a href="#">{{ cat }}</a></li>
                            {% endfor %}
                            <li><a href="#">Writings</a></li>
                        </ul>
                    </div>
                </div>

          </div>
        </div>
      </main>
    </div>
  </div>
</div>

{% include footer.html %}
<script src="{{ '/assets/js/code-copy.js' | relative_url }}"></script>
{% include scripts.html %}

</body>
</html>
